# Rust's output directory
target

/node_modules

# Local settings
.soroban
.stellar

# Test outputs
contracts/test_snapshots/
PR_DESCRIPTION.md
PR_DESCRIPTION_ISSUE75.md
PR_DESCRIPTION_ISSUE74.md
/generated/prisma

.agent/
.agents/
issue.md

/contracts/test_snapshots